{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "objectWrap": "preserve"
} 