:root {
    --border-opacity: 0.1;
}
body {
    font-family: sans;
    margin: 0;
}
.container {
    display: flex;
    margin: 0;
    border-top:  1px solid rgba(var(--fg-color), var(--border-opacity));
    border-bottom: 1px solid rgba(var(--fg-color), var(--border-opacity));
}
.editor-panel {
    flex: 1;
    min-width: 400px;
    padding: 16px;
    border-right: 1px solid rgba(var(--fg-color), var(--border-opacity));
}
.preview-panel {
    flex: 1;
    min-width: 400px;
    padding: 16px;
}
textarea {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    resize: vertical;
    box-sizing: border-box;
    margin: 0;
}
.preview-area {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 148px; /* 128px + 20px padding */
}
.icon-container svg {
    display: block;
    margin: 0px;
}
.icon-name {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    padding: 0 8px;
}
label {
    user-select: none;
}
.control-point {
    fill: rgba(var(--fg-color));
    stroke: none;
    r: 0.1;
}
