name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up ANTLR
      uses: StoneMoe/setup-antlr4@v4.10.1
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.19
    - name: Construct grammar
      run: |
        cd grammar
        antlr -Dlanguage=Go -o ../parser-go/parser IconScript.g4
        cd ..
    - name: Build
      working-directory: parser-go
      run: go build
    - name: Test
      working-directory: parser-go
      run: go test