name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
    - name: Set up ANTLR (handles Java internally)
      uses: StoneMoe/setup-antlr4@v4.13.2
    - name: Install GEOS
      run: sudo apt-get update && sudo apt-get install -y libgeos-dev
    - name: Construct grammar
      run: |
        cd grammar
        antlr4 -Dlanguage=Go -o ../parser-go/parser IconScript.g4
        cd ..
    - name: Build
      working-directory: parser-go
      run: go build
    - name: Vet
      working-directory: parser-go
      run: go vet
    - name: Test
      working-directory: parser-go
      run: go test